
<div class="row">
    <div class="profileAndContact">
        <app-profile-intro style="margin:10px"> </app-profile-intro>
        </div>
   
    <div class="try"> <h1>Erfaringer:</h1></div>
    <div class="mainContent"><app-experience> </app-experience></div>
    <div class ="try"> <h1>Kompetencer:</h1></div>
    <div class="qualification"> <app-qualification> </app-qualification> </div>

</div>




<!--         >



        
            
            <app-experience class="experience"> </app-experience>
       

           

 -->
