<div class="projectCollector">
    <div>
        <img src="assets/profilPicture.jpg" class="profilePicture" alt="profil Picture">

    </div>
</div>
<div class="cvColector">
    <div class="row">
        <div class="columExperience">
            <app-profile-intro style="margin:10px"> </app-profile-intro>
            <app-experience class="experience"> </app-experience>
        </div>
        <div class="columQualification">

            <app-qualification style="margin:10px"> </app-qualification>
        </div>
    </div>
</div>
