
/*

    Mobile Version

*/

.row{
/*    display:flex;
    flex-direction:column;*/
   /* background-color:aquamarine;*/

}
.profileAndContact {
 /* background-color: black;*/
 
 
}
.mainContent {
  /*background-color: pink;*/
}
.qualification {
  /*background-color: blue;*/
}

.profilePicture{
width:60%;
}
mainContentText{
    text-align:center;
}

.head{
    text-align:center;
}
/*

   PC version

*/
@media (min-width: 800px) {

  .profilTextBox{
      width:95%;
  }

  .head {
    text-align: start;
  }

  .profileAndContactQualification {
    padding:25px;
    width:50%;
    background-color: #859CAB;
  }

  .mainContentText {
      width:99.99%;
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
  }

  .mainContent {
    display:flex;
    flex-direction:row;
   
    width: 50%;
    background-color: #7CC0EB;
    
  }

  .qualification {
    padding: 50px;
    background-color: #7CC0EB;
    margin: 25px;
    width: 25%;
  }

  .row {
   
    text-align: -webkit-center;
  }
  .try{
      visibility:hidden;
  }
}

