<mat-card class="profilCard">
    <mat-card-header>

        <mat-card-title>Jonas Ø. Nielsen</mat-card-title>
        <mat-card-subtitle>Software udvikler</mat-card-subtitle>
    </mat-card-header>
    <img src="assets/profilPicture.jpg" class="profilePicture" alt="profil Picture" />
    <mat-card-content>
        <p class="profileText">
            Jeg er ny uddannet som datamatiker. Igennem min studietid har jeg arbejdet primært med højniveau sprog som C#, JavaScript og TypeScript.

            Hertil har jeg erfaringen med Webframeworks som Angular og backend services i ASP.Net Core som kommuniker til en MMSQL.

            Studieprojekterne har været distribueret systemer som har fuldt REST strukturen. Projekterne har anvendt Entityframework som ORM .

            Jeg har brændt for at komme i mål og udvikle nogle fede projekter i samarbejde mine studiekammerater.

            Det er også afspejlet i mine karaktere.
        </p>
    </mat-card-content>
</mat-card>
