
<div class="flexBox">

    <h1>Jonas Ø. Nielsen</h1>
    <h6>Software udvikler</h6>

    <img src="assets/profilPicture.jpg" class="profilePic" alt="profil Picture" />

    <p class="profileText">
        Jeg er ny uddannet som datamatiker. Igennem min studietid har jeg arbejdet primært med højniveau sprog som C#, JavaScript og TypeScript.

        Hertil har jeg erfaringen med Webframeworks som Angular og backend services i ASP.Net Core som kommuniker til en MMSQL.

        Studieprojekterne har været distribueret systemer som har fuldt REST strukturen. Projekterne har anvendt Entityframework som ORM .

        Jeg har brændt for at komme i mål og udvikle nogle fede projekter i samarbejde mine studiekammerater.

        Det er også afspejlet i mine karaktere.
    </p>
    
    <div style="text-align: start">
        <h6>Kontakt:</h6>
        <li>
            Email: 99jonas&#64;hotmail.dk

        </li>
        <li>
            TLF: 24524021
        </li>

    </div>
   
</div>

