.card-picture {
  align-self: center;
 /* padding: 10%*/
}

.expericence-card-text {
  /*display:flex;*/

  text-align:center;
  align-self: center;
}

.expericence-card {
  z-index: -1;
}

@media (min-width: 800px) {
  .expericence-card-text {
    display: flex;
    text-align: start;
  }

  .card-picture {
     padding: 10%
  }
}
