<!-- <mat-card class="expericence-card" *ngIf="Expericence">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{Expericence.title}}</mat-card-title>

    </mat-card-header>

    <mat-card-content class="expericence-card-text">
        <div>
          <app-gallery [Picture]="Expericence.picture" [PictureText]="Expericence.text"> </app-gallery>
        </div>
        <div>
            <p>
                {{Expericence.text}}
            </p>
        </div>


    </mat-card-content>
</mat-card> -->



    <div class="colorBox" *ngIf="Expericence">
        <h1 class="expericenceHeader">{{Expericence.title}} </h1>
        <div class="expericence-card-text">

            <div>
                <app-gallery [Picture]="Expericence.picture" [PictureText]="Expericence.text"> </app-gallery>
            </div>
            <div class="textField">
                {{Expericence.text | truncate:20}}
            </div>
        </div>

    </div>

