.card-picture {
  align-self: center;
  /* padding: 10%*/
  width: 300px;
  height: 300px;
}

.expericence-card-text {
  /*display:flex;*/
  padding:30px;
  
  text-align: center;
  align-self: center;
}
.colorBox {
  background-color: #7CC0EB;
}

.expericence-card {
 /* z-index: -1;*/
}

/*
    PC version

*/

@media (min-width: 800px) {

  .textField {
   
    
  }

  .expericence-card-text {
    
    display: flex;
    text-align: start;
  }

  .card-picture {
    padding: 5px;
    width: 100px;
    height: 100px;
  }

  .expericenceHeader {
    text-align: start;
  

  }
}
