.card-picture {
  align-self: center;
  /* padding: 10%*/
  width: 300px;
  height: 300px;
}

.expericence-card-text {
  /*display:flex;*/
  padding:30px;
  
  text-align: center;
  align-self: center;
}
.colorBox {
  background-color: #7CC0EB;
}

.expericence-card {
  z-index: -1;
}

@media (min-width: 800px) {

  .textField {
    padding: 30px;
  }

  .expericence-card-text {
    
    display: flex;
    text-align: start;
  }

  .card-picture {
   padding: 30px;

  }
}
