<!-- <mat-card class="expericence-card" *ngIf="Expericence">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{Expericence.title}}</mat-card-title>

    </mat-card-header>

    <mat-card-content class="expericence-card-text">
        <div>
          <app-gallery [Picture]="Expericence.picture" [PictureText]="Expericence.text"> </app-gallery>
        </div>
        <div>
            <p>
                {{Expericence.text}}
            </p>
        </div>


    </mat-card-content>
</mat-card> -->

<div class="rounded-xl" *ngIf="!isMobile; else mobileVersion" > 
    <div class="colorBox" >
        <h1 class="expericenceHeader">{{Expericence.title}} </h1>
        <div class="expericence-card-text">

            <div>
                <!-- <app-gallery [Picture]="Expericence.picture" [PictureText]="Expericence.text"> </app-gallery> -->
            </div>
            <div class="textField">
                {{Expericence.text}}
            </div>
        </div>

    </div>
</div>

<ng-template #mobileVersion>
    <div class=" ">
        <div class="flex justify-center items-center  text-center ">
            <h1 class="text-center text-xl font-medium text-black w-3/4 ">
                {{Expericence.title}}
            </h1>
        </div>
        <div class="experience-card-text mt-4">
            <div class="flex justify-center mb-4">
                 <!-- <app-gallery class="w-2/4" [Picture]="Expericence.picture" [PictureText]="Expericence.text"></app-gallery>  -->
            </div>
            <div class="flex justify-center items-center  text-center text-gray-700 ">
                <div class="text-center w-3/4"> 
                    {{Expericence.text }}
                </div>
            </div>
        </div>
    </div>
</ng-template>