<!-- <mat-card class="expericence-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{Expericence.title}}</mat-card-title>

    </mat-card-header>

    <mat-card-content class="expericence-card-text">
        <div>
            <img mat-card-image src="{{Expericence.picture}}" alt="" class="card-picture" width="250"
                 height="200">
        </div>
        <div>
            <p>
                {{Expericence.text}}
            </p>
        </div>


    </mat-card-content>

</mat-card> -->
<div class="colorBox">
<h1 style="text-align:center; padding:30px;">{{Expericence.title}} </h1>
<div class="expericence-card-text">

    <div>
        <img class="card-picture" src="{{Expericence.picture}}" alt="">
    </div>
    <div class="textField">
        {{Expericence.text}}
    </div>
</div>

</div>

