# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/angular-cv-app/FileContentIndex/56197958-7761-4c57-95e8-1f6d06eceb02.vsidx
/.vs/angular-cv-app/FileContentIndex/b0c935e8-51cf-4ada-b5b4-2a5fdce67a89.vsidx
/.vs/angular-cv-app/FileContentIndex/95b4570b-b1d9-4471-aab9-0c7f2d26ef58.vsidx
/.vs/angular-cv-app/FileContentIndex/1b98b573-a947-4a59-828c-f0ab7382da33.vsidx
/.vs/angular-cv-app/FileContentIndex/f4f2bb87-bd58-4232-8931-4cf83c1b7d81.vsidx
/.vs/angular-cv-app/FileContentIndex/80458f52-1a61-40fb-9220-d8ea07281619.vsidx
/.vs/angular-cv-app/FileContentIndex
