.facebook {
  width: 40px;
  margin: 5px;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  background-color: #7CC0EB;
  
}

.button{
    outline:groove;
    margin-left:20px;
}

.spacer {
  flex-basis: 33%;
}


