.qualification {
  min-width: 100%;
}

.columExperience{
    padding-left: 300px;
    margin: 25px;
    float: left;
    width: 50%;
}
.columQualification {
  margin: 25px;
  float: right;
  width: 25%;
}

.profilCard {
  padding-left: 300px;
  margin: 25px;
  float: left;
  width: 50%;
}


