    <mat-toolbar>
        <button mat-button> HOME </button>
        <button mat-button> CV </button>
        <button mat-button> COVERLETTER </button>
    </mat-toolbar>

  
        

    <div class="row">
        <div class="columQualification">
            <app-qualification> </app-qualification>
        </div>
        <div class="profilCard">
            <app-profile-intro> </app-profile-intro>
        </div>
        <div class="columExperience">
            <app-experience class="experience" > </app-experience>
        </div>

    </div>














