
.cvColector {
    float: right;
  width:60%;

}

.projectCollector{

}

.columExperience {
  margin: 25px;
  float: left;
  width: 40%;
}
.columQualification {
  margin: 25px;
  float: left;
  width: 25%;

}




