.flex-container {
  align-self: center;
  display: flex;
  text-align: center;
  padding:10%;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.spacer{
    height:200px;
}
.TextBoxFlexBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}
.TextBox {
  padding: 5%;
/*  outline: auto;*/
  margin: 5%;
}
.ProfilPictureDiv {
  align-self: center;
  width: 75%;
}
.gitpic {
  width: 5%;
}
.icon {
  width: 40px;
  margin: 5px;
}
.flex-container-projects {
  align-self: center;
  display: flex;
  text-align: center;
  /*  outline: auto;*/
  padding: 10%
}
.flex-container-projects-right {
  align-self: center;
  display: flex;
  text-align: center;
  /*  outline: auto;*/
  padding: 10%;
  background-color:#7CC0EB;
}

.Picture{
    width:75%;
}

@media (max-width: 800px) {
  .ProfilPicture {
    align-self:center

  }
  .JudexProjectPicture{
      align-content:center;
  }
  .flex-container-projects {
    flex-direction: column;
    text-align: start;
  }
  .flex-container-projects-right {
    flex-direction: column;
    text-align: start;
   
  }
  .TextBox {
    padding: 0%;
    /*  outline: auto;*/
    margin: 0%;
  }
  .TextBoxFlexBox {
    width: 100%;
    background-color:none;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .ProfilPicture {
    align-self: center
  }

  .JudexProjectPicture {
    align-content: center;
  }

  .flex-container-projects {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }.flex-container-projects-right {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .TextBox {
    padding: 0%;
    /*  outline: auto;*/
    margin: 0%;
  }

  .TextBoxFlexBox {
    width: 75%;
    order: 1; 
  }

  .flex-container {
    padding:0px;
    flex-direction: column;
    text-align: center;
  }
  .Picture {
    width: 75%;
    align-self:center;
  }
}





