.flex-container {
  align-self: center;
  display: flex;
  text-align: center;
  padding:10%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    text-align: start;
  }
}

.flex-container > div {
    
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.spacer{
    height:200px;
}

.TextBoxFlexBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
}
@media (max-width: 800px) {
  .TextBoxFlexBox {
    width: 100%;
  }
}

.TextBox {
  padding: 5%;
/*  outline: auto;*/
  margin: 5%;
}

@media (max-width: 800px){
  .TextBox {
    padding: 0%;
    /*  outline: auto;*/
    margin: 0%;
  }
}

.ProfilPicture {
  align-self: flex-start;
  width: 75%;
}

@media (max-width: 800px) {
  .ProfilPicture {
    align-self:center
  }
}

.gitpic {
  width: 5%;
}

.icon {
  width: 40px;
  margin: 5px;
}

.flex-container-projects {
  align-self: center;
  display: flex;
  text-align: center;
/*  outline: auto;*/
  padding: 10%
}

@media (max-width: 800px) {
  .flex-container-projects {
    flex-direction: column;
    text-align:start;
  }
}


