<div class="flex-vertical">



    <div class="flex-container">
        <div class="TextBoxFlexBox">
            <h1> Lidt om mig </h1>
            <div class="TextBox">
                Jeg er ny uddannet som datamatiker. Igennem min studietid har jeg arbejdet primært med højniveau sprog som C#, JavaScript og TypeScript. Hertil har jeg erfaringen med Webframeworks som Angular og backend services i ASP.Net Core som kommuniker til en MMSQL. Studieprojekterne har været distribueret systemer som har fuldt REST strukturen. Projekterne har anvendt Entityframework som ORM .
                Jeg har brændt for at komme i mål og udvikle nogle fede projekter i samarbejde mine studiekammerater. Det er også afspejlet i mine karaktere.

            </div>
            <div>
                <a href="https://www.facebook.com/jonasq8"><img src="assets/Facebook.png" class="icon" /></a>
                <a href="https://github.com/jonasq8"><img src="assets/github-logo.png" class="icon" /></a>
                <a href="https://www.linkedin.com/in/jonasq8"><img src="assets/linkedin.png" class="icon" /></a>
            </div>
        </div>
        <div class="ProfilPictureDiv">  <img src="assets/Billede-clear1.png" class="Picture" alt="profil Picture"> </div>
    </div>



   
    <div class="flex-container-projects" style="background-color:#7CC0EB;">
        <div class="ProfilPictureDiv">  <img src="assets/gs-udklip.png" class="Picture" alt="profil Picture"> </div>
        <div class="TextBoxFlexBox">
            <h1> 4 semester projekt </h1>
            <div class="TextBox">
                I et projektsamarbejde med virksomheden Judex udviklede min projektgruppe og jeg en Nerve Signal Generator, et teknologisk apparat designet til at efterligne karakteristikaene af et nervesignal.
                Programmet blev udviklet på en Raspberry Pi, der opsætter et adgangspunkt, så man kan konfigurere og tilslutte netværk, før man fysisk kobler det til elektrodiagnostisk hardware for at lave manuelle tests på den tilknyttede elektrodiagnostiske software.
                Generatoren gav brugerne mulighed for at modulere intensiteten af nervesignalet, introducere tidsmæssige forsinkelser og inkorporere hvid støj, hvilket muliggjorde en nuanceret udforskning af signaldynamik.
                Brugergrænsefladen blev konstrueret ved hjælp af en kombination af Python til backend-funktionalitet, JavaScript til dynamisk interaktivitet, HTML/CSS til præsentation og en SQLite-database.
                De genererede nervesignaler blev visualiseret og manipuleret gennem et JavaScript-baseret diagram, hvilket faciliterede brugerinteraktion og tilpasning gennem grafisk manipulation af datapunkter inden for diagrammets grænseflade.
            </div>
            <div>
                <a href="https://www.facebook.com/jonasq8"><img src="assets/Facebook.png" class="icon" /></a>
                <a href="https://github.com/jonasq8"><img src="assets/github-logo.png" class="icon" /></a>
                <a href="https://www.linkedin.com/in/jonasq8"><img src="assets/linkedin.png" class="icon" /></a>
            </div>
        </div>
    </div>




    <div class="flex-container-projects">
      
        <div class="TextBoxFlexBox">
            <h1> 4 semester projekt </h1>
            <div class="TextBox">
                I et projektsamarbejde med virksomheden Judex udviklede min projektgruppe og jeg en Nerve Signal Generator, et teknologisk apparat designet til at efterligne karakteristikaene af et nervesignal.
                Programmet blev udviklet på en Raspberry Pi, der opsætter et adgangspunkt, så man kan konfigurere og tilslutte netværk, før man fysisk kobler det til elektrodiagnostisk hardware for at lave manuelle tests på den tilknyttede elektrodiagnostiske software.
                Generatoren gav brugerne mulighed for at modulere intensiteten af nervesignalet, introducere tidsmæssige forsinkelser og inkorporere hvid støj, hvilket muliggjorde en nuanceret udforskning af signaldynamik.
                Brugergrænsefladen blev konstrueret ved hjælp af en kombination af Python til backend-funktionalitet, JavaScript til dynamisk interaktivitet, HTML/CSS til præsentation og en SQLite-database.
                De genererede nervesignaler blev visualiseret og manipuleret gennem et JavaScript-baseret diagram, hvilket faciliterede brugerinteraktion og tilpasning gennem grafisk manipulation af datapunkter inden for diagrammets grænseflade.
            </div>
            <div>
                <a href="https://www.facebook.com/jonasq8"><img src="assets/Facebook.png" class="icon" /></a>
                <a href="https://github.com/jonasq8"><img src="assets/github-logo.png" class="icon" /></a>
                <a href="https://www.linkedin.com/in/jonasq8"><img src="assets/linkedin.png" class="icon" /></a>
            </div>
        </div>
        <div class="ProfilPictureDiv">  <img src="assets/nsg.png" class="Picture" alt="profil Picture"> </div>
    </div>


</div>

